services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped
    privileged: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Tokyo
      - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
      - GENERIC_TIMEZONE=Asia/Tokyo
    network_mode: host

  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "3288:8080"
    volumes:
      - open-webui:/app/backend/data

volumes:
  n8n_data:
  open-webui:
